[submodule "ArtifactEvaluation/ComputeLibrary"]
	path = ArtifactEvaluation/ComputeLibrary
	url = https://github.com/ARM-software/ComputeLibrary
[submodule "ArtifactEvaluation/deit"]
	path = ArtifactEvaluation/deit
	url = https://github.com/facebookresearch/deit.git
